{% extends "base.html" %}

{% block content %}
<div class="main">
    <h1 class="title"> Welcome, {{userData.name}} {{userData.surname}}! </h1>
    <div class="box">
        <p> Your wallet address is : {{userData.wallet}}</p>
        <p> Email: {{ userData.email}}</p>
        <p> DNI: {{userData.dni}}  </p>
        <p> Your birthday is : {{userData.birthday}} </p>
        <p> Your home address is : {{userData.address}}</p>
        <p> Postal Code: {{userData.postalCode}}</p>
        <p> You live in: {{userData.city}}, {{userData.country}} </p>
        <p> Phonenumber: {{userData.phoneNumber}}</p>
        <p> Your social accounts are: Ig: {{userData.igUsername}} || Tw: {{userData.twUsername}} </p>
        <p> Your registered credit card number is: {{userData.creditCard}}</p>
    </div>

    <h1 class="title"> Webs Info </h1>
    <div class="box">
        <p> Name: {{webInfo.name}}</p>
        <p> Access: {{webInfo.access}}</p>
        <p> Access Log: {{webInfo.log}}</p>
        <p> Param Consent: {{webInfo.params}}</p>
        <p> Access Date: {{webInfo.date}}</p>
    </div>
</div>

{% endblock %}

