{% extends "base.html" %}

{% block content %}

<div class="col-3 mb-5 p-1 text-dark text-center" style="background-color: #ffffff;  border-radius: 15px 50px; border: 5px solid black; box-shadow: 8px 8px grey; margin:auto">  
  <h2 class="my-3">PROFILE</h2>
</div>
<div class = "row mb-4">
  <div class = "col-md-4">
          <div class="card mb-4 ">
              <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">{{userData.name}} {{userData.surname}}</h5>
                <h6 class="my-3">{{userData.wallet}}</h6>
              </div>
            </div>

            <div class = "col">
              <form method="POST" action="/profile">
                <div class="d-flex justify-content-center mb-2 w-100" >
                  <button class="btn btn-primary w-100">Edit profile</button>
                </div>
              </form>
            </div>
  </div>

    <div class="col-md">
      <div class="card mb-4 p-4 ">
        <div class="row">
          
          <div class="col-md">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm">
                <p class="text-muted mb-0">{{userData.name}} {{userData.surname}}</p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Gender</p>
              </div>
              <div class="col-sm">
                <p class="text-muted mb-0">{{userData.gender}} </p>
              </div>
            </div>
            <hr>

            
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Dni</p>
              </div>
              <div class="col-sm">
                <p class="text-muted mb-0">{{userData.dni}}</p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm">
                <p class="text-muted mb-0">{{userData.email}}</p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Birthday</p>
              </div>
              <div class="col-sm">
                <p class="text-muted mb-0">{{userData.birthday}}</p>
              </div>
            </div>
          </div>

          <div class="col-md">
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm">
                <p class="text-muted mb-0">{{userData.address}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm">
                <p class="text-muted mb-0">{{userData.city}} ({{userData.postalCode}})</p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0">Country</p>
              </div>
              <div class="col-sm">
                <p class="text-muted mb-0">{{userData.country}}</p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm">
                <p class="text-muted mb-0">{{userData.phoneNumber}}</p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-4">
                <p class="mb-0">Credit Card </p>
              </div>
              <div class="col-sm">
                <p class="text-muted mb-0">{{userData.creditCard}}</p>
              </div>
            </div>
          </div>
        </div>
        </div>

    </div>
</div>

  <div class="col-2 mb-3 ml-1 p-1 text-dark text-center" style="background-color: #ffffff;  border-radius: 15px 50px; border: 5px solid black; box-shadow: 8px 8px grey; ">  
    <h3 class="my-3">Web History</h3>
  </div>
  <div class = "row mb-4">
        <div>
          <div class="card mb-4 p-1">
              <div class="card-body">

                <div class="row">
                  <div class="col-sm-1">
                    <p class="mb-0"> <strong>Name</strong></p>
                  </div>
                  <div class="col-sm-1">
                    <p class="mb-0"><strong>Permission</strong></p>
                  </div>
                  <div class="col-sm-2">
                    <p class="mb-0"><strong>Consent Date</strong></p>
                  </div>
                  <div class="col-sm-3">
                    <p class="mb-0"><strong>Param Consent</strong></p>
                  </div>
                  <div class="col-sm-5">
                    <p class="mb-0"><strong>Accessed</strong></p>
                  </div>
                </div>
                

                {% for web in webInfo %}
                <hr>
                <div class="row mb-3">
                  <div class="col-sm-1">
                    <p class="mb-0">{{web.name}}</p>
                  </div>
                  <div class="col-sm-1">
                    <p class="mb-0">{{web.permission}}</p>
                  </div>
                  <div class="col-sm-2">
                    <p class="mb-0">{{web.date}}</p>
                  </div>
                  <div class="col-sm-3">
                    <p class="mb-0">{{web.params}}</p>
                  </div>
                  <div class="col-sm-5">
                    <p class="mb-0">{{web.access}}</p>
                  </div>
                </div>
                
                {% endfor %}

              </div>
          </div>
        </div>
  </div>

  <div class="col-2 mb-3 ml-1 p-1 text-dark text-center" style="background-color: #ffffff;  border-radius: 15px 50px; border: 5px solid black; box-shadow: 8px 8px grey;">  
    <h3 class="my-3">Data History</h3>
  </div>
  
  {% for data in dataHistory %}
    <div class="card mb-4 p-4 ">
        <div class="col-md">
          <div class="row">
            <div class="col-sm-1">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-2">
              <p class="text-muted mb-0">{{data.name}} {{data.surname}}</p>
            </div>
            <div class="col-sm-1">
              <p class="mb-0">Gender</p>
            </div>
            <div class="col-sm-2">
              <p class="text-muted mb-0">{{data.gender}} </p>
            </div>
            <div class="col-sm-1">
              <p class="mb-0">Dni</p>
            </div>
            <div class="col-sm-2">
              <p class="text-muted mb-0">{{data.dni}}</p>
            </div>
            <div class="col-sm-1">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-2">
              <p class="text-muted mb-0">{{data.email}}</p>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-sm-1">
              <p class="mb-0">Birthday</p>
            </div>
            <div class="col-sm-2">
              <p class="text-muted mb-0">{{data.birthday}}</p>
            </div>
            <div class="col-sm-1">
              <p class="mb-0">Address</p>
            </div>
            <div class="col-sm-2">
              <p class="text-muted mb-0">{{data.address}} </p>
            </div>
            <div class="col-sm-1">
              <p class="mb-0">City</p>
            </div>
            <div class="col-sm-2">
              <p class="text-muted mb-0">{{data.city}}</p>
            </div>
            <div class="col-sm-1">
              <p class="mb-0">Country</p>
            </div>
            <div class="col-sm-2">
              <p class="text-muted mb-0">{{data.country}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-1">
              <p class="mb-0">Phone</p>
            </div>
            <div class="col-sm-2">
              <p class="text-muted mb-0">{{data.phoneNumber}}</p>
            </div>
            <div class="col-sm-1">
              <p class="mb-0">CreditCard</p>
            </div>
            <div class="col-sm-2">
              <p class="text-muted mb-0">{{data.creditCard}} </p>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-1">
              <p class="mb-0 text-bold">Update </p>
            </div>
            <div class="col-sm-2">
              <p class="text-muted mb-0">{{data.updateDate}} </p>
            </div>

          </div>

        </div>
    </div>
  {% endfor %}


</div>
{% endblock %}

